# Misc. OS
.DS_Store

# Logs
npm-debug.log*

# Dependencies
package-lock.json
node_modules

# Build output
dist

# Code coverage
coverage

# ESLint
.eslintcache

# Docz
.docz
storybook-static
